<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Clock.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Clock.Properties.Settings>
            <setting name="Location" serializeAs="String">
                <value>200, 200</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>220, 145</value>
            </setting>
            <setting name="Popups" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Sounds" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GrainOpening" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SnackTime" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Report" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HalfDay" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TextColor" serializeAs="String">
                <value />
            </setting>
            <setting name="HighlightColor" serializeAs="String">
                <value />
            </setting>
            <setting name="BackColor" serializeAs="String">
                <value />
            </setting>
            <setting name="Transparent" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TopMost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProgressBar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HourFormat" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WeeklyHighlights" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SoundType" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CountdownDisplay" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Volume" serializeAs="String">
                <value>1</value>
            </setting>
        </Clock.Properties.Settings>
    </userSettings>
</configuration>